<!DOCTYPE html>

<html lang="en">

<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>CoreUI Pro Bootstrap Admin Template</title>

    <link href="/assets/admin/css/style.min.css" rel="stylesheet">

    <meta name="robots" content="noindex">

</head>

{% block content %}
{% set RootName = 'admin' %}
{% set routerName = 'admin' %}



<body class="c-app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">

                            {% if flashMsg %}
                            <div class="alert alert-warning alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h5><i class="icon fas fa-check"></i> Dikkat!</h5>
                                {{flashMsg}}
                            </div>
                            {%endif%}

                            <form method="POST" action="/login" accept-charset="UTF-8" class="form-control1" id="{{RootName}}-login" enctype="multipart/form-data">
                                <input name="_csrf" type="hidden" value="{{ csrf }}">
                            <h1>Login</h1>
                            <p class="text-muted">Sign In to your account</p>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend"><span class="input-group-text">
                                        <svg class="c-icon">
                                            
                                            <use xlink:href="/assets/admin/vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                                        </svg></span></div>

                                        <input name="_csrf" type="hidden" value="{{ csrf }}">

                                    <input class="form-control {{err.Email_valid}}" value="selmantunc@gmail.com" id="Email" name="Email" value="{{Email}}" placeholder="Email adresiniz " type="text">
                                     {% if err.Email_error %}
                                    <div class="invalid-feedback" style="display:block">{{err.Email}}</div>
                                    {% endif %}
                             


                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend"><span class="input-group-text">
                                        <svg class="c-icon">
                                            <use xlink:href="/assets/admin/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                                        </svg></span></div>
                                        <input class="form-control {{err.Password_valid}}" id="Password" value="111111-6" name="Password" placeholder="Şifre" value="{{Password}}" type="text">
                                        {% if err.Password_error %}
                                       <div class="invalid-feedback" style="display:block">{{err.Password}}</div>
                                       {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-primary px-4" type="submit">Login</button>
                                </div>
                                <div class="col-6 text-right">
                                    <button class="btn btn-link px-0" type="button">Forgot password?</button>
                                </div>
                            </div>

                            </form>
                        </div>
                    </div>
                    <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                        <div class="card-body text-center">
                            <div>
                                <h2>Sign up</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>
                                <button class="btn btn-lg btn-outline-light mt-3" type="button">Register Now!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="/assets/admin/vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
    <!--[if IE]><!-->
    <script src="/assets/admin/vendors/@coreui/icons/js/svgxuse.min.js"></script>
    <!--<![endif]-->
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            setTimeout(function () {
                document.body.classList.remove('c-no-layout-transition')
            }, 2000);
        });
    </script>
</body>

</html>

{% endblock %} {% block jsInline %} {% endblock %}